#app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background: rgba(255, 255, 255, 0.945);

  .nav {
    height: 100%;
    padding: 1rem 4rem;
    border-right: 1px solid lightgrey;

    .nav-item {
      padding: 1rem;
    }
  }

  .selected {
    .row {
      .col {
        padding: 2rem 4rem;
      }
    }
  }
}
