#app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .nav {
    border-radius: 0px;
    color: darkgray;
    border-bottom: 2px lightgray solid;
    padding: 0 2rem;
    padding-top: 1rem;

    .nav-item {
      font-size: $default-font-size;
      padding: 0 1rem;
      .active {
        border-bottom: 2px cornflowerblue solid;
        background: none;
        color: cornflowerblue;
        border-radius: 0px;
        transition: ease-in-out;
      }
    }
  }

  .selected {
    padding: 0rem 10rem;
    padding-top: 2rem;
    .row {
      margin: 0;
      .col {
        padding: 2rem 4rem;
      }
    }
  }
}
