#result {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .row {
    align-items: center;
    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  .info {
    text-align: left;
    font-size: 1em;
    margin: 0;
    @include respond(tab-port) {
      text-align: center;
    }
  }
  .toggle {
    float: left;
    padding: 0;
    border-radius: 0;
    background: none;
    border: none;
    font-size: 1em;
    text-decoration: none;
    color: gray;
    border-bottom: transparent 1px solid;

    @include respond(tab-port) {
      float: none;
      margin-bottom: 0.5rem;
    }

    &:hover {
      border-bottom: 1px solid;
    }
    &:focus {
      box-shadow: none;
    }
  }

  .detailed {
    transition: all 0.8s ease;
  }
  .nom-btn {
    background-color: #44c767;
    border-radius: 3px;
    height: min-content;
  }

  .detailed {
    margin-top: 1rem;
    .movie-img {
      max-width: 80%;
      height: auto;
    }
  }
  .imdb-Link {
    font-size: $small-font-size;
    &:hover {
      border-bottom: #0056b3 1px solid;
    }
  }
}
