.saved-list {
  flex-direction: column;

  :hover {
    cursor: pointer;
    background: rgb(207, 222, 255);
    transition: ease-in all 0.1s;
  }

  &__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .list-name {
    width: 100%;
    text-align: left;
  }
  &__item-group {
    width: 100%;
  }
  &__item {
    text-align: left;
  }

  .imdb-Link {
    font-size: $small-font-size;
    width: 100%;
    height: 100%;
  }
}
