body {
  background: $background-colour;
  text-align: center;
  transition: all 0.8s ease;
}

.small-text {
  font-size: $small-font-size;
}

.d-inline-block {
  display: inline-block;
}

.a-left {
  text-align: left;
}
