$shopify-green: #50b83c;
$primary-colour-1: #1982ff;
$secondary-colour: #cccccc;
$secondary-colour-1: #f3f3f3;
$tertiary-colour: #818181;
$misc-colour: #3f3f3f;
$background-colour: #f4f6f8;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$small-font-size: 1rem;
